:root {
  --white: #ffffff;
  --btn-orange: #ff5722;
  --otp-input-bg: #262d52;
  --screen-bg: #020b3f;
}

.heading-h1, .heading-h6 {
  margin-bottom: 0.31rem;
  margin-top: 0;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-0 {
  padding: 0;
}

.pl-0 {
  padding-left: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
  height: 1px;
}

.m-0 {
  margin: 0;
}

.ml-0 {
  margin-left: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-right: 0;
}

.w-100 {
  width: 100%;
}

.--uppercase {
  text-transform: uppercase;
}

.--small-text {
  font-size: 0.7rem;
}

.--text-right {
  text-align: right;
}

.--font-bold {
  font-weight: bold;
}

.createpin-ion-content {
  --background: var(--screen-bg);
}

.screen-avatar {
  background: var(--white);
  width: 4rem;
  height: 4rem;
}

.btn-orange {
  --background: var(--btn-orange);
  --color: var(--white);
  --border-radius: 0.43rem;
}

.otp-input input {
  background: var(--otp-input-bg);
  margin: auto;
  border-radius: 0.31rem;
  width: 2.8rem !important;
  height: 2.8rem;
  color: var(--white);
  padding: 0.625rem;
  font-size: 1.25rem;
  border: none;
}

.otp-input input:focus-visible {
  outline: none;
}

.otp-div>div:first-child {
  justify-content: space-between;
}