.screen_bg {
  --background: var(--screen-bg);
}

.tab_btn {
  --padding-start: 0;
  --padding-end: 0;
  --ripple-color: transparent;
  --color: #8e95a3;
  min-height: auto;
  min-width: auto;
  height: 1.875rem;
  border: 0;
  background: none;
  flex: initial;
  --color-checked: #009eff;
  font-weight: 600;
}

.header_bg {
  background: var(--screen-bg);
}

.profit_text {
  color: var(--profit-text-color);
}

.loss_text {
  color: var(--loss-text-color);
}

.text_3_5xl {
  font-size: 2.125rem;
}

.download_text {
  color: var(--download-text);
}
