.screen_bg {
	--background: var(--screen-bg);
}

.tab_btn {
	--padding-start: 0;
	--padding-end: 0;
	--ripple-color: transparent;
	--color: white;
}

.header_bg {
	background: var(--screen-bg);
}

.profit_text {
	color: var(--profit-text-color);
}

.loss_text {
	color: var(--loss-text-color);
}