:root {
  --white: #ffffff;
  --bkgrd-blue: #12125a;
  --txt-grey: #afaeaedc;
  --btn-blue: #007fe4e0;
}

ion-app div.login-page {
  background-color: var(--bkgrd-blue);
  padding: 5% 10%;
  justify-content: initial;
}

ion-avatar.logo {
  background: var(--white);
  margin-bottom: 1rem;
  width: 4rem;
  height: 4rem;
}

.header h5 {
  margin: 0 0 0.3rem 0;
  font-size: 0.875rem;
  font-weight: 600;
}

.header h2 {
  margin: 0.3rem 0;
  font-weight: bold;
  font-size: 1.875rem;
}

form.login-form {
  color: var(--txt-grey);
  margin-top: 1.5rem;
}

ion-label.input-label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.875rem;
}

ion-input.input {
  --color: var(--white);
  --padding-bottom: 1rem;
  --padding-end: 1rem;
  --padding-start: 1rem;
  --padding-top: 1rem;
  border: 1px solid var(--txt-grey);
  --background: var(--bkgrd-blue);
  border-radius: 0.625rem;
  display: block;
  margin-bottom: 1.25rem;
  --placeholder-opacity: 0.3;
  --placeholder-font-weight: normal;
}

.foot-note {
  position: fixed;
  bottom: 0.6rem;
  left: 0;
  text-align: center;
  width: 100%;
  color: var(--txt-grey);
}

ion-button.login-btn {
  --color: var(--white);
  display: block;
  --background: var(--btn-blue);
  --border-radius: 5px;
  margin: 1.8rem 0 0 0;
  height: 3rem;
  text-transform: uppercase;
}

ion-text.create-account {
  color: var(--btn-blue);
}

ion-checkbox.terms-check {
  --size: 1.125rem;
  --border-radius: 5px;
  --background: var(--bkgrd-blue);
  --background-checked: var(--btn-blue);
  --checkmark-color: var(--white);
  --border-color: var(--txt-grey);
  --border-color-checked: var(--btn-blue);
  --checkmark-width: 3px;
  position: relative;
  top: 4px;
  left: 1px;
}

ion-grid.terms-check-grid {
  --ion-grid-padding: 0;
}

ion-col.checkbox-col,
ion-col.label-col {
  padding-inline-start: initial;
}
