.screen_bg {
  --background: var(--screen-bg);
}

.header_bg {
  background: var(--screen-bg);
}

.data_container {
  background: var(--data-container-bg);
}

.profit_text {
  color: var(--profit-text-color);
}

.loss_text {
  color: var(--loss-text-color);
}

.holdings_list {
  background: transparent;
  border-top: 0.0625rem solid #7f7f7f;
}

.holdings_list_item {
  --background: transparent;
  --padding-start: 0;
  --inner-border-width: 0 0 0.0625rem 0;
  --border-color: #7f7f7f;
  --inner-padding-end: 0;
}

.text_1_5xl{
  font-size: 1.375rem;;
}