ion-content.menu-content {
  --background: #020c46ef;
}

.menu-list {
  background: transparent;
}

ion-row.profile-row {
  padding-top: 0.625rem;
}

.menu-list-item {
  --background: transparent;
  --padding-start: 0;
  --color: #ffffffe3;
  --border-color: #7f7f7f77;
  --min-height: 4rem;
}

.menu-list-item:active {
  --color: #5f5ffb;
  --border-color: #000b4ab3;
  --background: #000b4ab3; 
}

.menu-list-item img {
  position: relative;
  top: -1px;
  margin: 0 0.5rem 0 0.8rem;;
}

.menu-list .menu-list-item:last-child {
  --color: #ffffff3f;
}

ion-col.profile-info-col {
  padding-top: 0.6rem;
}

.profile-image-col {
  align-self: center;
  padding-top: 0.6rem;
  padding-left: 0.5rem;
}

.profile-image-col img {
  border-radius: 5px;
  height: 4rem;
}

.profile-info-col span {
  display: block;
}

.profile-info-col span:first-child {
  color: #ffffffe3;
  font-size: 1.4rem;
}

span.email-and-id {
  color: #ffffff8a;
  font-size: 0.9rem;
}

.transaction-num {
  background-color: #ff5722;
  border-radius: 1rem;
  padding: 0 5px;
  position: absolute;
  right: 1rem;
}
